*{
    margin: 0;
    padding: 0;
}

.nav{
    color:white;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: skyblue;

    
    align-items:center;

    

}

.input{
    width: 270px;
    height: 30px;
}

.search{
    
    height: 30px;
    line-height: 30px;
   
    background-color: transparent;

}

img{
    height: 80px;
    width: 100px;
}


.hover:hover{
    font-weight: bold;
    cursor: pointer;

}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 90%;
    margin: auto;

}

.grid div{
    height: 100px;
    width: 100px;
    background-color: wheat;
}

.span{
    grid-column: 1/-1;
    margin: 6px 0px;

}

.img{
    height:500px;
    width: 80vw;
}

.footer{
    height: 80px;
    line-height: 80px;
    text-align: center;
    
    
}