*{
    margin: 0;
    padding: 0;
}

.box{
    
  
    border-radius: 1px;
    display: flex;
    

    animation: box 3s normal 0s infinite  ;
    
}


img{
    height: 300px;
    width: 100vw;
}


@keyframes box {
    from{
        transform: translate(0px);

    }

    to{

        transform: translate(100vw);

    }
    
}


