.col{
    display:grid;
   
    grid-template-columns:repeat( 4 , 100px);
    padding: 10px;
    background-color: cornflowerblue;
    justify-content : start;
    grid-template-rows: repeat(auto , 100px);
    text-align:center;
    line-height: 100px;
   
    gap: 5px;
   



  



}


.ans{
    grid-column:1/-1;
    background-color: cornsilk;


}

.span2{
    grid-column:1/3;

}
.col > div{
    background-color: crimson;
}